#container {
    position: relative;
    width: 100%;
}

#game {
    margin: 0 auto;
    border: 5px solid black;
    background-color: silver;
    position: relative;
}

#player {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: blue;
}

.blob {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;

}

.ground {
    background-color: green;
    position: absolute;
}

#restart {
    background-color: red;
}