#head {
    position: relative;
    width: 100%;
}

#head h1 {
    text-align: center;
    font-family: "Roboto Condensed", SansSerif;
}

body {
    margin: 0;
    overflow: hidden;
    cursor: default;
}

#score {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: center;
    font-family: "Roboto Condensed", SansSerif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    z-index: 110;
}

#statusMessage {
    color: red;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: right;
    font-family: "Roboto Condensed", SansSerif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    z-index: 110;
}

#message {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: center;
    font-family: "Roboto Condensed", SansSerif;
    font-size: 3em;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 15%;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

#game {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:0;
    background-color: silver;
    z-index: 1;

    border: 5px solid black;
    border-radius: 5px;

    overflow: hidden;
}

#Player {
    width: 20px;
    height: 50px;
    position: absolute;
    /*background-color: lightblue;*/
    z-index: 70;

    background: url("resources/guy.png");
    background-size: 20px 50px;
    background-repeat: no-repeat;
    background-position: left bottom;

    /*border: 1px solid black;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Ground {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*background-color: saddlebrown;*/
    position: absolute;
    z-index: 50;

    background: url("resources/ground.png");
    box-sizing: border-box;
    /*noinspection CssOverwrittenProperties*/
    -moz-box-sizing: border-box;
    /*noinspection CssOverwrittenProperties*/
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}

.Wall {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    z-index: 51;

    background: url("resources/wall.png");
}

.Cobble {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    z-index: 51;

    background: url("resources/cobble.png");
}

.Finish {
    /*background-color: #99F779;*/
    position: absolute;
    z-index: 51;

    background: url("resources/finish.png");
    background-size: 32px 64px;
    background-repeat: no-repeat;
    background-position: left bottom;

    /*border: 1px solid white;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Water {
    background-color: deepskyblue;
    position: absolute;
    z-index: 49;

    border: 1px solid red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}

.Trigger {
    background-color: white;
    position: absolute;
    z-index: 40;
}

.Teleport {
    background-color: teal;
    position: absolute;
    z-index: 40;

    border: 1px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Bullet {
    /*background-color: black;*/
    position: absolute;
    z-index: 59;

    background: url("resources/bullet.png");
    /*clip-path: polygon(0% 50%, 40% 100%, 100% 100%, 100% 0%, 40% 0%);*/
    /*-webkit-clip-path: polygon(0% 50%, 40% 100%, 100% 100%, 100% 0%, 40% 0%);*/
    /*-moz-clip-path: polygon(0% 50%, 40% 100%, 100% 100%, 100% 0%, 40% 0%);*/

    /*border: 1px solid red;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Coin {
    position: absolute;
    z-index: 59;
    background: url("resources/coin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#restart-overlay {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: deepskyblue;
    z-index: 100;
}

#restart-overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#restartLogin {
    /*background: firebrick;*/
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 30%;
    height: 40%;
    /*padding: .5em;*/
    display: inline-block;
    vertical-align: middle;
    z-index: 110;

    border-radius: 5px;
}

#restartLoginUser {
    margin-top: 1px;
    border-radius: 5px;
}

#restartLoginPassword {
    margin-top: 20px;
    border-radius: 5px;
}

#restartLoginSubmit {
    margin-top: 20px;
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;
    width: 60%;
    padding: .5em;
    display: inline-block;
    /*vertical-align: middle;*/
    z-index: 110;

    border: 2px solid black;
    border-radius: 5px;
}

#restartHighscores {
    background: rgba(192, 192, 192, 0.7);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30%;
    height: 80%;
    /*padding: .5em;*/
    display: inline-block;
    vertical-align: middle;
    z-index: 110;

    border: 2px solid black;
    border-radius: 5px;
}

#restartHighscoreList {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 0;

    list-style-type:none;
}

#restartHighscoreList li {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: left;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#restartButtons {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    bottom: 20%;
    width: 40%;
    padding: .5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
    z-index: 110;
}

#restart {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;

    width: 60%;
    padding: .5em;
    display: inline-block;
    /*vertical-align: middle;*/
    z-index: 110;

    border: 2px solid black;
    border-radius: 5px;
}


#restartMenu {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;

    /*top: 10px;*/
    /*bottom: 20%;*/
    width: 60%;
    padding: .5em;
    display: inline-block;
    /*vertical-align: middle;*/
    margin-top: 5px;
    z-index: 110;

    border: 2px solid black;
    border-radius: 5px;
}

#restartHighscore {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;

    width: 60%;
    padding: .5em;
    display: inline-block;
    margin-top: 5px;
    z-index: 110;

    border: 2px solid black;
    border-radius: 5px;
}

#menu-overlay {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: deepskyblue;
    z-index: 200;
}

#menu-overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#title {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: center;
    font-family: "Roboto Condensed", SansSerif;
    font-size: 3em;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 15%;
}

#menuButtons {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    /*background: firebrick;*/
    bottom: 20%;
    width: 40%;
    padding: .5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
    z-index: 110;
}

#menuStart {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;

    width: 60%;
    padding: .5em;
    display: inline-block;
    /*vertical-align: middle;*/
    z-index: 210;

    border: 2px solid black;
    border-radius: 5px;
}

#menuLevelSelect {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: center;
    background: orangered;

    width: 60%;
    padding: .5em;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    margin-top: 5px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    z-index: 210;
    display: inline-block;

    border: 2px solid black;
    border-radius: 5px;
}

#menuLevelSelect option {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-align: center;

    border: 2px solid black;
    border-radius: 5px;
}

#menuLimiter {
    font-family: "Roboto Condensed", SansSerif;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background: orangered;

    width: 60%;
    padding: .5em;
    display: inline-block;
    z-index: 210;

    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
}